@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  display: block;
  margin: 0px;
  text-align: center;
  overflow: hidden;
}

.map {
  width: 100vw;
  height: 100vh;
  background: rgb(255, 255, 255);
  padding: 0px;
  border: solid 0px black;
  float: left;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.footer {
  width: 100vw;
  height: fit-content;
  background: rgba(73, 147, 221, 0.85);
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 0.5%;
  border: solid 0px black;
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.8);
  float: right;
  position: absolute;
  bottom: 0px;
  text-align: right;
}

.logo {
  width: 501px;
  height: fit-content;
  padding: 0px;
  border: solid 0px black;
  float: left;
  position: absolute;
  top: 20px;
  left: 20px;
}

.logo_img {
  width: 501px;
  
}

.requestbutton {
  position: absolute;
  left: 5px;
  top: 88px;
}

.tooltip {
  border-width: 2px 2px 2px 2px;
  border-style: solid;
  border-color: rgb(17, 95, 160);
  justify-content: right;
  align-items: baseline;
  background: rgba(73, 147, 221, 0.85);
  padding: 5px 12px;
  margin: 5px;
  font-size: 25px;
  border-radius: 10px;
  color: #FFF;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.tooltip:before,
.tooltip:after {
  position: absolute;
  content: '';
  opacity: 0;
  transition: all 0.4s ease;
}

.tooltip:before {
  border-width: 0px 8px 10px 8px;
  border-style: solid;
  border-color: transparent transparent rgba(255, 52, 102, 0.85) transparent;
  top: 35px;
  left: 28px;
  transform: translateY(-20px);
}

.tooltip:after {
  content: attr(data-tooltip);
  background: rgba(255, 52, 102, 0.85);
  /* width: 160px; */
  /* height: 75px; */
  font-size: 20px;
  text-align: left;
  font-weight: 300;
  top: 45px;
  left: 10px;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 1px;
  transform: translateY(-20px);

}

.tooltip:hover::before,
.tooltip:hover::after {
  opacity: 1;
  transform: translateY(-2px);
}